<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link <%= activeProduk %>" href="/customers/produks">Produk</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= activeAbout %>" href="#">About</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link <%= activeKeranjang %>" href="/customers/keranjang">Keranjang</a>
    </li> -->
</ul>