<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link <%= activeProduk %>" href="/produks">Produk</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= activeAbout %>" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= activeKeranjang %>" href="#">Keranjang</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= activeUser %>" href="/users">User</a>
    </li>
</ul>