<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link <%= activeProduk %>" href="/">Produk</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= activeAbout %>" href="#">About</a>
    </li>
</ul>